.header1{
	height: 3.333333rem;
	line-height: 3.333333rem;
	color: #29b078;
	font-size: 1.166667rem;
}
.wqs{
	text-align: right;
}
.header2{
	width: 100%;
    margin-top: -2px;
	line-height: 8rem;
	background-color: #29b078;
}
.header2-img{
    display: inline-block;
	margin:1rem 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right:0;
    margin-left: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media screen and (max-width:768px){
	.header2{
		line-height: 4.5rem;
	}
}
.navbar {
    margin-bottom: 0px;
}
.navbar-header{
	background-color: #29b078;
}
.navbar-toggle{
	outline: none;
	border-width: 0;
}
.navbar-default {
    background-color: #29b078;
    border-width: 0;
}
.navbar-collapse{
	padding-right: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #29b078;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #29b078;
}
.nav>li{
    border-bottom: solid 2px #29b078;
    text-align: center;
    color: white;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.nav>li:hover{
    border-bottom: solid 2px #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
@media (min-width: 768px){
	.navbar-nav {
	    float: right;
	    padding:2rem 0;
	    margin-right: -15px;
	}
}
.container-fluid {
	padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}