html{
	font-size: 62.5%;
}
body{
	margin:0;
	background-color: #fafafa;
}
#header1{
	height: 3.333333rem;
	line-height: 3.333333rem;
	color: #29b078;
	font-size: 1.166667rem;
}
.wqs{
	text-align: right;
}
#header2{
	width: 100%
	height:8rem;
	line-height: 8rem;
	background-color: #29b078;
	margin-top: -2px;
}
.header2-img{
	margin:1rem 0;
	display: inline-block;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right:0;
    margin-left: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media screen and (max-width:768px){
	#header2{
		line-height: 4.5rem;
	}
}
.navbar {
    margin-bottom: 0px;
}
.navbar-header{
	background-color: #29b078;
}
.navbar-toggle{
	outline: none;
	border-width: 0;
}
.navbar-default {
    background-color: #29b078;
    border-width: 0;
}
.navbar-collapse{
	padding-right: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #29b078;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #29b078;
}
.nav>li{
    border-bottom: solid 2px #29b078;
    text-align: center;
    color: white;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.nav>li:hover{
    border-bottom: solid 2px #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
@media (min-width: 768px){
	.navbar-nav {
	    float: right;
	    padding:2rem 0;
	    margin-right: -15px;
	}
}
.container-fluid {
	padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.row1>div{
	margin: 10rem auto 0 auto;
}

.row1 strong{
	display: block;
	height: 6.6rem;
	line-height: 6.6rem;
	font-size: 1.8rem;
	text-align: center;
}
.row1 p{
	font-size: 1.2rem;
	color: #999999;
	margin: auto;
}

.row1-1-text2,.row1-3-text2{
	width: 18.0rem;
}
.row1-2-text2{
	text-align: center;
}
.row1-1{
	margin: auto;
}

.row1-4{
	border-left: 1px dashed #999999;
}
@media screen and (max-width:992px){
	.row1-4{
		border-left: none;
		text-align: center;
	}
	
}
.row1-4-inside{
	width: 14rem;
	margin: 5.6rem auto 0 auto;
}

.row1-icon{
	height: 5.6rem;
	width: 5.6rem;
	margin: auto;
	background-image: url(../images/xbt.png);
	background-size: 40rem;
	background-repeat: no-repeat;
}

.row1-1-icon{
	background-position: 1.2rem 0.5rem;
}
.row1-2-icon{
	background-position: -10rem 0.5rem;
}
.row1-3-icon{
	background-position: -4.5rem 0.5rem;
}

.row1-4-icon{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: url(../images/xbt.png);
	background-position: 0 34%; 

}

.row1-4 .number{
	color:green;
}

.row1-4 p{
	margin:1rem 0 2.5rem 0;
}

.str{
	display: block;
	font-size: 1.8rem;
	text-align: center;
	width: 100%;
}

.row2,.row3{
	margin-top: 4.5rem;
	margin-bottom: 4.5rem;
}

.steps{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media screen and (max-width: 991px){
	.steps{
		justify-content: space-between;
		margin: 2rem auto;

	}
}

.arrows{
	width: 2.5rem;
	height: 2.5rem;
	background-image: url(../images/xbt.png);
	background-position: 0 54%;
	background-size: 30rem;
	margin: 0 0.5rem;
	flex-shrink: 0
}
@media screen and (min-width:993px){
	.last-arw{
		display: none;
	}
}
.step{
	height: 5.5rem;
	width: 5.5rem;
	line-height: 5.5rem;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0rem 0.2rem 0.5rem 0rem #cccccc;
	margin-right: 1rem; 
	color: #29b078;
	font-size: 1.5rem;
	font-weight: 400;
	flex-shrink: 0
}
.steps p{
	width: 50%;
	display: inline-block;
	margin:0;
	color: #999999;
	font-size: 1.2rem;
}

.row4-str{
	margin:5rem auto;
}
.row4 strong{
	display: block;
	text-align: center;
	margin-top:3rem;
	margin-bottom: 2rem;
	font-size: 1.8rem;
}
.row4-inner{
	background-color: white;
	box-shadow: 0rem 0.2rem 0.5rem 0rem #cccccc;
	padding: 2rem;
	margin-top:2rem;
}
.row4-img{
	display: block;
	margin: auto;
}
.row4-inner>p{
	color: #999999;
	font-size: 1.3rem;
	line-height: 2rem;
}

.spots{
	width: 6rem;
	margin:2rem auto;
	text-align:center;
}

.spot{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin:auto;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0rem 0.2rem 0.5rem 0rem #cccccc;
}
.spot:hover{
	background-color: #29b078;
}

.str3{
	margin: 3rem auto;
}
.row5 .col-md-2{
	width: 20%;
	padding:0;
}
.row5{
	background-color: white;
}
.row5-inner{
	background-color: white;
	width: auto;
	height: 15.0rem;
	line-height: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2px;
}

.row5-inner:hover{
	box-shadow: 0rem 0rem 0.5rem 0rem #cccccc;
}

@media screen and (max-width: 991px) {
	.row5 .col-md-2{
		width: 100%;
		margin-bottom: 2rem;
	}
	.row5{
		background-color: #fafafa;
	}
}
main{
	padding-bottom: 7.5rem;
}

.ft1{
	background-color: white;
	padding-top: 1.5rem;
}
.ft1-str{
	display: block;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 1.5rem auto;
}
.row6 a{
	color: #999999;
	font-size: 1.1rem;
	text-decoration:none;
	margin:0 0 1px 0;
}
.row6 a:hover{
	margin:0 0 1px 0;
	border-bottom: solid 1px #29b078;
}
.row6 ul{
	padding-left: 15px;
	color: #999999;
}
@media screen and (min-width: 993px) {
    .col-md-1 {
        width: 10%;
    }
}
@media screen and (max-width: 992px) {
    .col-sm-1 {
        width: 20%;
    }
}
@media screen and (max-width: 768px) {
    .col-xs-1 {
        width: 25%;
    }
}
@media screen and (max-width: 500px) {
    .col-xxs-1 {
        width: 50%;
    }
}

.ft2{
	background-color: #29b078;
	width: 100%;
	color: white;
	font-size: 1.3rem;
}
.row7-inner{
	margin-top: 3rem;
}
.row7-links1{
	margin-top: 4rem;
}
.row7-links2{
	margin-top: 1rem;
}
.row7-links3{
	margin-top: 1rem;
}
.md-a{
	border-left: solid 1px white;
	border-right: solid 1px white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.row7-inner a{
	display: inline-block;
	color: white;
	font-size: 1.1rem;
	text-decoration:none;
	margin:0 0 1px 0;
	border-bottom: solid 1px #29b078;
}
.row7-inner a:hover{
	margin:0 0 1px 0;
	border-bottom: solid 1px white;
}
.row7-inner3{

}
@media screen and (min-width: 992px){
	.row7-inner3{
		float: right;
		text-align: center;
		padding-right: 15px;
	}
}
.row4 img{
	width: 108px;
	height: 108px;
}
.ft{
	text-align: center;
	margin:1rem 0;
	padding:0.5rem 0;
	border-top:solid 1px #32c086;
}